
<!DOCTYPE html>
<style>
    body {
        background-image: url('../../content/resimler/arkaplann.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>
<html>

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Hakkimizda</title>


</head>

<body>
    <h1 style="color:red" align="center">Hakkimizda</h1>
    <p>
        Hakkımızda
        Herkes bildiği, alıştığı iskender lezzetini; istediği zaman, uzmanlığından emin olduğu yerde, ulaşılabilir fiyata ve gönül rahatlığıyla yiyebilmeli!” dedik ve 23 Haziran 1988’te bir lezzet yolculuğuna çıktık. Geleneksel iskenderi, alışveriş merkezlerinde restoran konseptiyle sunan ilk marka olarak çıktığımız bu yolda, bugün  Holding olarak Türkiye genelinde 50’den fazla ilde 300’e yakın restoranımızda, yılda 40 milyon misafirimizi ağırlıyoruz. Tüm misafirlerimizi uzmanlığımız ve lezzetlerimizle buluşturmanın gururunu yaşıyoruz.
    </p>
    <p>Geleneksel sunumumuz, iskender lezzetimiz, işini severek ve güler yüzle yapan ekibimiz sayesinde 2017, 2018, 2019 ve 2022 yıllarında Alışveriş Merkezleri ve Yatırımcılar Derneği tarafından düzenlenen 1 Numaralı Markalar ödül töreninde "Restoran" kategorisinin kazananı olduk. Hep daha iyisine ulaşmak, Türk halkını geleneksel iskender lezzetiyle avantajlı bir şekilde buluşturmak için çalışmaya devam ediyoruz.</p>
    <img style=" width:900px;height:500px;margin-left:40px" src="~/Content/Resimler/hakkimizda.jpg" />
</body>
</html>
