@{
    Layout = "_Layout2";
}


<!DOCTYPE html>
<html>
<head>
    <title>Index2</title>
    <style>
        body {
            background-image: url('../../content/resimler/arkaplann.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        h1 {
            color: #333;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Hoşgeldin Furkan</h1>
        
    </div>
</body>
</html>
