@model services.ModelsS.TblDbSalatum
@{

    Layout = "_Layout2";
}
<!DOCTYPE html>
<html>
<head>

    <link href="~/css/Ekle.css" rel="stylesheet" />
</head>
<body>
    

<div class="row">
    <div class="col-md-4">
            <form asp-action="GuncelleYap" asp-controller="TblDbSalatums" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SalataAd" class="control-label"></label>
                <input asp-for="SalataAd" class="form-control" />
                <span asp-validation-for="SalataAd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalataFiyat" class="control-label"></label>
                <input asp-for="SalataFiyat" class="form-control" />
                <span asp-validation-for="SalataFiyat" class="text-danger"></span>
            </div>
                <div class="form-group">
                    <label asp-for="SalataResim" class="control-label"></label>
                    <input asp-for="SalataResim" class="form-control" />
                    <span asp-validation-for="SalataResim" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="file">Resim Dosyası:</label>
                    <input type="file" id="file" name="file" class="form-control-file" />
                </div>
            <div class="form-group">
                <input type="submit" value="Guncelle" class="btn btn-primary" />
            </div>
        </form>
        </div>
    </div>


</body>
</html>
