@model IEnumerable<services.ModelsS.TblDbSalatum>

<!DOCTYPE html>
<html>
<head>
    <link href="~/css/indexler.css" rel="stylesheet" />
    <title>Salata</title>
</head>
<body>
    <div align="center" style="height:50px;color:brown"> Salatalar</div>
    <table style="width:100%">
        <tr>

            <th>Salata AD</th>
            <th>Salata Fiyat</th>
            <th>Salata Resim</th>


        </tr>
        <tbody>
            @foreach (var crb in Model)
            {
                <tr>


                    <td>@crb.SalataAd</td>
                    <td>@crb.SalataFiyat</td>
                    <td> <img style="width:100px;height:100px" src="@crb.SalataResim" /> </td>

                </tr>

            }

        </tbody>

    </table>
    <button onclick="gizleGoster('menuler');"> Diger Menuler</button>
    <div id="menuler" style="display:none">
        <ul>
            <li><a class="button" href="/TblDbCorbas/Index">corba</a></li>
            <li><a class="button" href="/TblDbIzgaras/Index">Izgara</a></li>
    
            <li><a class="button" href="/TblDbTatlis/Index">Tatli</a></li>
            <li> <a class="button" href="/TblDbIceceklers/Index">Icecek</a></li>
        </ul>
    </div>

</body>
</html>

<script>
    function gizleGoster(ID) {
        var secilenID = document.getElementById(ID);
        if (secilenID.style.display == "none") {
            secilenID.style.display = "";
        } else {
            secilenID.style.display = "none";
        }
    }
</script>