@model IEnumerable<services.ModelsS.TblDbSalatum>
@{

    Layout = "_Layout2";
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/css/indexler2.css" rel="stylesheet" />
    <title>Salata</title>
</head>
<body>
    <div align="center" style="height:50px;color:brown"> Salatalar</div>
    <table style="width:100%">
        <tr>

            <th>Salata AD</th>
            <th>Salata Fiyat</th>
            <th>Salata Resim</th>
            <th>SIL</th>
            <th>Guncelle</th>


        </tr>
        <tbody>
            @foreach (var crb in Model)
            {
                <tr>


                    <td>@crb.SalataAd</td>
                    <td>@crb.SalataFiyat</td>
                    <td> <img style="width:100px;height:100px" src="@crb.SalataResim" /> </td>
                    <td><a href="/TblDbSalatums/SIL/@crb.SalataId" class="button button-red">Sil</a></td>
                    <td><a href="/TblDbSalatums/Guncelle/@crb.SalataId" class="button button-blue">Guncelle</a></td>

                </tr>

            }

        </tbody>

    </table>
    <div class="button-container">
        <button onclick="window.location.href='/TblDbSalatums/Olustur'" class="button button-custom">Olustur</button>
    </div>

</body>
</html>

