<!DOCTYPE html>
<style>
    body {
        background-image: url('../../content/resimler/arkaplann.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Iletisim</title>
</head>

<body>
    <div>
        <h1>Iletisim bilgilerimiz</h1>
        <h2>Asagidaki bilgilerlerle bizimle iletisime gecebilirsiniz</h2>
        <h3>adres</h3>
        <img style="width:20px;height:20px" src="~/Content/Resimler/adres.png" align="left" /><p>   Spine Tower, Büyükdere Caddesi No:243 Kat:9 Maslak - Sarıyer / İstanbul / TÜRKİYE</p>
        <h3>Telefon</h3>
        <img style="width:20px;height:20px" src="~/Content/Resimler/telefon.jpg" align="left" />  <p align="justify">  +90 212 281 99 96</p>
        <h3>Fax</h3>
        <img style="width:20px;height:20px" src="~/Content/Resimler/fax.png" align="left" />  <p>  +90 212 284 04 41</p>
        <h3>Mail</h3>
        <img style="width:20px;height:20px" src="~/Content/Resimler/email.png" align="left" /> <p align="justify">  bilgi@iskender.com</p>

    </div>
</body>
</html>