<!DOCTYPE html>
<html>
<head>
    <style>
        table, th, td {
            border: 1px solid black;
            border-radius: 10px;
        }

        .button {
            display: inline-block;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            color: #ffffff;
            background-color: #4ed0ac;
            border-radius: 6px;
            outline: none;
        }

        body {
            background-image: url('../../content/resimler/arkaplann.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
    <title>Menu</title>
</head>
<body>
    <h1 align="center">Menu</h1>
    <table style="width:100%">

        <tr>
            <td>
                <img src="~/Content/Resimler/corba.jpg" style=" height:500px; width:200px;" />

            </td>
            <td>
                <img src="~/Content/Resimler/izgara.jpg" style=" height:500px; width:200px;" />
            </td>
            <td>
                <img src="~/Content/Resimler/salata.jpg" style=" height:500px; width:200px;" />
            </td>
            <td>
                <img src="~/Content/Resimler/tatli.jpeg" style=" height:500px; width:200px;" />
            </td>
            <td>
                >
                <img src="~/Content/Resimler/icecek.jpeg" style=" height:500px; width:200px;" />
            </td>

        </tr>
        <tr>
            <td>
                <a class="button" href="/TblDbCorbas/Index">Corba</a>
            </td>
          <td><a class="button" href="/TblDbIzgaras/Index">Izgara</a></td>
            <td><a class="button" href="/TblDbSalatums/Index">Salata</a></td>
            <td><a class="button" href="/TblDbTatlis/Index">Tatli</a></td>
            <td> <a class="button" href="/TblDbIceceklers/Index">Icecek</a></td>


        </tr>

    </table>

</body>
</html>